.product1{
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin: 15px;
}
.product2{
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid black;
    box-shadow: 3px 3px 3px 3px gray;
    flex-wrap: wrap;
    margin: 10px;
}
.cart{
    display: flex;
    flex-direction: row;
}

.zoomimg:hover{
    -ms-transform: scale(1.1); 
  -webkit-transform: scale(1.1); 
  transform: scale(1.1);
  transition: transform .3s;
}

.pagination{
    margin-top: 20px;
}
.paginationbutton1{
    padding: 5px;
    background-color: black;
    color: white;
}
.paginationbutton2{
    margin: 7px;
    padding: 5px 10px 5px 10px;
    background-color: black;
    color: white;
}
.paginationbutton1:hover{
    color: black;
    background-color: white;
}
.paginationbutton2:hover{
    color: red;
    background-color: white;
}