/* .zoomimg:hover{
    -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  transition: transform .3s;
} */

.cartimg1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 100px;
}
.cartimg2 {
  margin-top: 50px;
}

.cartinfo {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  
}
.companyname{
  font-size: 20px;
  font-weight: 500;
  padding: 5px;
}

.name{
  font-size: 18px;
  font-weight: 400;
  padding: 5px;
}
.discount{
  color: green;
  font-size: 18px;
  font-weight: 500;
  padding: 5px;
}
.oldprice{
  color: red;
  font-size: 18px;
  font-weight: 400;
  padding: 5px;
}